@{
    ViewBag.Title = "About";
}
<h2>About this Project</h2>
<hr />

<p>If you have specific questions, please refer to the <a href="~/Home/FAQ">FAQ page</a>.</p>

<p>To view the abstract for this project, you may <a href="#">download it</a>.</p>

<br />

<p>In short, the purpose of this platform is to create an easy-to-use interface around the immense resources of the BigDog cluster. We accomplish that by creating a parallelized pipeline whereing genomic data is run through a multitude of assemblers concurrently and ultimately combined to provide the most accurate results possible.</p>

<p>In more detail, the purpose of this platform is to create an easy interface for researchers to have greater accessibility to tools for conducting research. A large problem many researchers face is having to move outside their domain to learn Linux command line along with have to install/compile/run a diverse group of assemblers.</p>

<p>We want to make the assembly process as painless as possible. With help from many researchers at SIU, we have created a platform by which a researcher only needs to know information about their data. Any and all additional information is explained in detail to the researcher so in the end, they simply need to press a button to run their data.</p>

<p>Ultimately, we also wanted to provide a method by which the assembly process could be more accurate than running data through a single assembler. So to that end, we scaffolded a pipeline wherein the data will be run through as many assemblers as the researcher wants in order to increase the sample size. The assemblers we provide will increase over time with the input from researchers at SIU. </p>