.jumbotron {
}

.result {
    font-size: 16px; 
    font-family: monospace;
}

.result-background {
    background-color: #FFFFCD;
}

.result-normal {
    color: #000000;
}

.result-success {
    color: #238438;
}

.result-error {
    color: #B12F2F;
}

/* Tooltip Section - Consider Viewport for the future, but for immediate use acceptance, we statically assigned many of the values. */
a.tooltips {
  position: relative;
  display: inline;
  /* Make the link appear non-clickable */
  color:#333333;
  text-decoration: none;
  cursor: default;
}
a.tooltips span {
  position: absolute;
  width:300px;
  color: #FFFFFF;
  background: #000000;
  min-height: 30px;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 5px 5px 5px; /* Add padding so it doesn't touch the edge of the box. */
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}